#!/usr/bin/bash

if [[ ! -d "$(git rev-parse --show-toplevel)/.venv" ]]; then
    if [[ ! -f "${HOME}/.pyenv/versions/$(cat .python-version)/bin/python" ]]
    then
        pyenv install "$(cat .python-version)"
    fi

    poetry env use "${HOME}/.pyenv/versions/$(cat .python-version)/bin/python"
fi

# shellcheck disable=SC1091
. "$(git rev-parse --show-toplevel)"/.venv/bin/activate
